// Selectors - inbox

$TOOLBAR: 'bkYAr';

$SEARCH_ANSWERS: '#SearchAnswerTop';

$SORT_BY: '.s8wta';

$MESSAGES: '.customScrollBar.jEpCF.R29xW';
  $message: '.lHRXq.IjQyD.JCRRb';
    $wrap-persona-sender-notifications: '.mn28d.NV2gU.WA2af.XG5Jd';
      $persona: '.XG5Jd.XJ3XJ.q0f8X.aDFCa.DoCKv.vbEPJ';
    $wrap-subject-preview: '.dTBo0.aDFCa.TAT3V.XG5Jd';
    $wrap-date: '.WP8_u';
